{% extends 'base.html.twig' %}

{% block body %}

	  {% for flashMessage in app.session.flashbag.get('success') %}
	  <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		{{ flashMessage }}
	  </div>
	  {% endfor %}

	<div class="panel panel-primary">

      <div class="panel-heading">Create a House Keeping</div>
      <div class="panel-body">
      	<a class="btn btn-success" href="{{ path('house_keeping_create') }}">Create a House Keeping</a>
      </div>
    </div>

	<div class="panel panel-primary">
      <div class="panel-heading">House Keeping List</div>
      <div class="panel-body">
      	<table class="table">
    		<thead>
    			<tr>
	    			<th>Name</th>
            <th>Location</th>
	    			<th></th>
	    		</tr>
    		</thead>
    		<tbody>
    			{% for house_keeping in house_keepings %}
    			<tr>
	    			<td>{{ house_keeping.name     }}</td>
            <td>{{ house_keeping.location }}</td>
	    			<td>
	    				<a class="btn btn-default" href="{{ path('house_keeping_edit', { 'id' : house_keeping.id } ) }}">Edit</a>
	    				<form method="post" action="{{ path('house_keeping_delete', { 'id' : house_keeping.id } ) }}" style="display: inline;">
	    					<input type="submit" class="btn btn-danger" name="save" value="Delete">
	    				</form>
	    			</td>
    			</tr>
    			{% endfor %}
    		</tbody>
  		</table>
      </div>
    </div>

{% endblock %}